<main>
    <poke-header></poke-header>
        <section class="Regiao">
            <div class="Esquerda">
                <p class="Texto1">The Sinnoh region , formerly known as Hisui, is a region of the Pokémon world. It is located north of Kanto, Johto, and Hoenn. It is the setting of Pokémon Diamond, Pearl, Platinum, Brilliant Diamond, Shining Pearl, and Legends: Arceus; the latter explores the region's earlier history when it was still known as Hisui. It was the fourth core series region to be introduced.<br><br>Sinnoh is composed of the large mainland, the Battle Zone on another landmass to the northeast, and several smaller islands on both sides of the region. Most of Sinnoh's routes are on land, having very few water routes, in vast contrast to Hoenn. The region is divided by Mount Coronet, roughly comparable to how the continent that Kanto and Johto make up is essentially a contiguous region.</p>
                <p class="GeoDemo">Geography</p>
                <p class="Texto2">Sinnoh features a broad range of new and classic environments for the player to explore including, for the first time in a Pokémon RPG, snowy routes. Its terrain is varied: some parts of the region are dry and mountainous; others are wet and swampy. The region is rich in water.<br><br>Due to its large size, the main region of Sinnoh can be broken into two sub-regions divided by Mount Coronet, roughly comparable to how the continent that Kanto and Johto make up is essentially a contiguous region. Due to this, Shellos and Gastrodon have developed an instance of regional speciation, with members of the species found on the eastern side being blue-colored and members on the western side being pink-colored.</p>
                <p class="GeoDemo">Demographics</p>
                <p class="Texto2">The Sinnoh region's towns, cities and other areas have a total population of 704 in Diamond and Pearl and 755 in Pokémon Platinum. Upon its introduction in Generation IV, it was the largest region by population, and is currently the fourth largest region by population.</p>
            </div>
            <div class="Direita">
                <div class="Nome">
                    <p class="Nome_JP">シンオウ</p>
                    <p class="Nome_EN">Sinnoh</p>
                </div>
                <div class="Img">
                    <img src="assets/Maps/Sinnoh.png" alt="Mapa de Sinnoh/Sinnoh Map">
                    <p class="arte">Artwork of the Sinnoh region from Pokémon Brilliant Diamond and Shining Pearl</p>
                </div>
            </div>
        </section>
    <poke-list></poke-list>
</main>