<main>
    <poke-header></poke-header>

    <section class="Regiao">
        <div class="Esquerda">
            <p class="Texto1">The Galar region is a region of the Pokémon world, and the eighth core series region to be introduced. It is the setting of Pokémon Sword and Shield.</p>
            <p class="GeoDemo">Geography</p>
            <p class="Texto2">The Galar region is an expansive region, including varied environments such as idyllic countrysides, contemporary cities, and snow-covered mountains. Galar comprises a long mainland area as well as an outlying island area, the Isle of Armor, east of the mainland.<br><br>The extreme south of the Galarian mainland includes the Crown Tundra. This area is isolated from the rest of the mainland by a tall mountain range, which extends north along both mainland coasts. However, the Galarian train system allows for travel through these mountains.</p>
            <p class="GeoDemo">Demographics</p>
            <p class="Texto2">The Galar region has a total population of 727, including all towns, cities, and other areas. Upon its introduction in Generation VIII, it became the fifth largest region by population.</p>
        </div>
        <div class="Direita">
            <div class="Nome">
                <p class="Nome_JP">ガラル</p>
                <p class="Nome_EN">Galar</p>
            </div>
            <div class="Img">
                <img src="assets/Maps/Galar.png" alt="Mapa de Galar/Galar Map">
                <p class="arte">Artwork of the Galar region from Pokémon Sword and Shield</p>
            </div>
        </div>
    </section>
    <poke-list></poke-list>
</main>