@import '../../../config-scss/rem-calc.scss';

:host{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem-calc(40) 0;
    }
    
    .Img1{
        height: rem-calc(80);
    }

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem-calc(40) 0;
    }
}