<main>
    <poke-header></poke-header>

    <section class="Regiao">
        <div class="Esquerda">
            <p class="Texto1">The Paldea region is a region of the Pokémon world, and the ninth core series region to be introduced. It is the setting of Pokémon Scarlet and Violet.</p>
            <p class="GeoDemo">Etymology</p>
            <p class="Texto2">Paldea may be derived from pal (friend or ally) or paideia (education or learning) and aldea, the Spanish word for village or hamlet.</p>
            <p class="GeoDemo">Design concept</p>
            <p class="Texto2">Paldea is based on the Iberian Peninsula — which comprises Spain, Portugal, and Andorra — and its shared culture and fauna. It draws inspiration primarily from the culture of Spain, as can be seen in its architecture, gastronomy, musical influences, Pokémon nomenclature, as well as the sporadic use of the Spanish language by the locals of Paldea. Specific references to Portugal, its architecture, and language can also be found mainly on western locations of Paldea.</p>
        </div>
        <div class="Direita">
            <div class="Nome">
                <p class="Nome_JP">パルデア</p>
                <p class="Nome_EN">Paldea</p>
            </div>
            <div class="Img">
                <img src="assets/Maps/Paldea.png" alt="Mapa de Paldea/Paldea Map">
                <p class="arte">Artwork of the Paldea region from Pokémon Scarlet and Violet</p>
            </div>
        </div>
    </section>
    <poke-list></poke-list>
</main>