<main class="teste123456">
    <section>
        <div class="Testeui">
            <div class="mAo">
                <div class="Pokedex">
                    <a [routerLink]="['gen1']">
                        <p class="Regiao">Kanto</p>
                        <p class="Geração">Generation 1</p>
                        <img src="assets/Pokedex/Gen1.png" alt="Pokedex Generation 1">
                    </a>
                </div>
                <div class="Pokedex">
                    <a [routerLink]="['gen2']">
                        <p class="Regiao">Johto</p>
                        <p class="Geração">Generation 2</p>
                        <img src="assets/Pokedex/Gen2.png" alt="Pokedex Generation 2">
                    </a>
                </div>
                <div class="Pokedex">
                    <a [routerLink]="['gen3']">
                        <p class="Regiao">Hoenn</p>
                        <p class="Geração">Generation 3</p>
                        <img src="assets/Pokedex/Gen3.png" alt="Pokedex Generation 3">
                    </a>
                </div>
            </div>
            <div class="mAo">
                <div class="Pokedex">
                    <a [routerLink]="['gen4']">
                        <p class="Regiao">Sinnoh</p>   
                        <p class="Geração">Generation 4</p>
                        <img src="assets/Pokedex/Gen4.png" alt="Pokedex Generation 4">
                    </a>
                </div>
                
                <div class="Pokedex">
                    <a [routerLink]="['gen5']">
                        <p class="Regiao">Unova</p>
                        <p class="Geração">Generation 5</p>
                        <img src="assets/Pokedex/Gen5.png" alt="Pokedex Generation 5">
                    </a>
                </div>
                <div class="Pokedex">
                    <a [routerLink]="['gen6']">
                        <p class="Regiao">Kalos</p>
                        <p class="Geração">Generation 6</p>
                        <img src="assets/Pokedex/Gen6.png" alt="Pokedex Generation 6">
                    </a>
                </div>   
            </div>
            <div class="mAo">
                <div class="Pokedex">
                    <a [routerLink]="['gen7']">
                        <p class="Regiao">Alola</p>
                        <p class="Geração">Generation 7</p>
                        <img src="assets/Pokedex/Gen7.png" alt="Pokedex Generation 7">
                    </a>
                </div>
                <div class="Pokedex">
                    <a [routerLink]="['gen8']">
                        <p class="Regiao">Galar</p>
                        <p class="Geração">Generation 8</p>
                        <img src="assets/Pokedex/Gen8.png" alt="Pokedex Generation 8">
                    </a>
                </div>                
                <div class="Pokedex">
                    <a [routerLink]="['gen9']">
                        <p class="Regiao">Paldea</p>
                        <p class="Geração">Generation 9</p>
                        <img src="assets/Pokedex/Gen9.png" alt="Pokedex Generation 9">
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>