<main>
    <poke-header></poke-header>
        <section class="Regiao">
            <div class="Esquerda">
                <p class="Texto1">The Alola region is a region of the Pokémon world. It was the seventh core series region to be introduced and is the setting of Pokémon Sun, Moon, Ultra Sun, and Ultra Moon.<br><br>Alola is made up of five islands: the natural islands Melemele Island, Akala Island, Ula'ula Island, and Poni Island; and the artificial island Aether Paradise. It is a popular resort destination and attracts a lot of tourists from other regions. In Alola, humans and Pokémon coexist in a very close relationship, and a culture has developed that is different from other regions.<br><br>Professor Kukui of Hau'oli offers the starter Pokémon known as Rowlet, Litten, or Popplio to Trainers beginning their journey of this archipelago.</p>
                <p class="GeoDemo">Geography</p>
                <p class="Texto2">The Alola region consists of four main islands: Melemele Island, Akala Island, Ula'ula Island, and Poni Island. It also includes one artificial island, Aether Paradise, described as a "Very Large Floating Structure" or VLFS. Players can travel between the islands via boat, the Poké Ride's Charizard Glide, and Mantine Surf; it is not possible to use the Poke Ride's Lapras Paddle or Sharpedo Jet to move between the islands. (It is also impossible to use Surf or Fly for inter-island travel, since these moves cannot be used outside of battle in Generation VII.) All four natural islands are, to an extent, forested and mountainous. Most of these islands' cities and towns are on the coast, with the notable exceptions of Iki Town and Paniola Town. Routes are relatively developed here compared to other regions, with several of them having their own Pokémon Centers in addition to residential buildings.</p>
                <p class="GeoDemo">Demographics</p>
                <p class="Texto2">The Alola region has a total population of 1005, including all towns, cities, and other areas. Since its introduction in Generation VII, it has been the second largest region by population.</p>
            </div>
            <div class="Direita">
                <div class="Nome">
                    <p class="Nome_JP">アローラ</p>
                    <p class="Nome_EN">Alola</p>
                </div>
                <div class="Img">
                    <img src="assets/Maps/Alola.png" alt="Mapa de Alola/Alola Map">
                    <p class="arte">Artwork of the Alola region from Pokémon Ultra Sun and Ultra Moon</p>
                </div>
            </div>
        </section>
    <poke-list></poke-list>
</main>