<main>
    <poke-header></poke-header>
        <section class="Regiao">
            <div class="Esquerda">
                <p class="Texto1">The Kalos region is a region of the Pokémon world. It was the sixth core series region to be introduced and is the setting of Pokémon X and Y.<br><br>It is shaped like a five-pointed star, with one of its biggest cities being Lumiose City in the north-central part of the region. It features a vast network of rivers and waterways snaking through much of its landscape, cities and towns. North-east of Lumiose City lies a mountain range where more frigid temperatures exist, extending down into the plains below. Western Kalos features a vast ocean, where the shoreside city of Shalour City lies in the middle of a cove.</p>
                <p class="GeoDemo">Geography</p>
                <p class="Texto2">The geography of Kalos varies greatly within the region. The region is naturally bordered by a vast ocean to the west and northwest, and the eastern and southern borders are formed by mountain ranges. These borders give the region its signature star-like shape, as a large peninsula reaches out to the sea in the northwest, creating one point, and elsewhere the coastline, mountain ranges and rivers create the remaining four points. Kalos is made up of three distinct divisions, all with their own unique characteristics in both geography and Pokémon: Central Kalos, Coastal Kalos, and Mountain Kalos. The bustling Lumiose City is located near the point where all three divisions meet.</p>
                <p class="GeoDemo">Demographics</p>
                <p class="Texto2">The Kalos region has a total population of 1288 including all the towns, cities, routes, and areas. Since its introduction in Generation VI, it has been the largest region by population.</p>
            </div>
            <div class="Direita">
                <div class="Nome">
                    <p class="Nome_JP">カロス</p>
                    <p class="Nome_EN">Kalos</p>
                </div>
                <div class="Img">
                    <img src="assets/Maps/Kalos.png" alt="Mapa de kalos/Kalos Map">
                    <p class="arte">Artwork of the Kalos region from Pokémon X and Y</p>
                </div>
            </div>
        </section>
    <poke-list></poke-list>
</main>