<main>
    <poke-header></poke-header>

    <section class="Regiao">
        <div class="Esquerda">
            <p class="Texto1">The Kanto region is a region of the Pokémon world. Kanto is located east of Johto, which together form a joint landmass that is south of Sinnoh.<br><br>All cities in Kanto are named after colors, with the exception of Pallet Town, which refers to a palette, meaning a range of colors. Unlike every other region, Kanto's fictional name reflects its real-world name.</p>
            <p class="GeoDemo">Geography</p>
            <p class="Texto2">The Kanto region has a very temperate climate and not many notable landscape features, though this may be due to the region's origins in the Generation I games.<br><br> The majority of the Kanto region are forests and plains. Many of the major Kanto cities are in the center of the region, with close access to virtually every environment such as the sea, mountains, forests, etc. Kanto is mostly dominated by land, but has a large bay in the middle which opens to a sea in the southwest. Kanto has a contrast between urban cities and rural towns. Kanto has several mountain ranges, which are mostly in northern and western Kanto. Indigo Plateau and Victory Road mountain range divides Kanto from the neighboring Johto region.</p>
            <p class="GeoDemo">Demographics</p>
            <p class="Texto2">Including all the cities and towns in the Kanto region, the total population in Red, Blue, Yellow, FireRed and LeafGreen is 391, while in Gold, Silver, Crystal, HeartGold and SoulSilver, the population is 364. Since Generation II, it has been the smallest region by population.</p>
        </div>
        <div class="Direita">
            <div class="Nome">
                <p class="Nome_JP">カントー</p>
                <p class="Nome_EN">Kanto</p>
            </div>
            <div class="Img">
                <img src="assets/Maps/Kanto.webp" alt="Mapa de Kanto/Kanto Map">
                <p class="arte">Artwork of Kanto from Generation IV</p>
            </div>
        </div>
    </section>
    <!-- <a [routerLink]="['']" class="btn btn_secondary">
        Voltar
    </a> -->
    <!-- <section class="Games">
        <p class="Nome">Games</p>
        <div>
            <div class="Jogos">
                <div class="PokeGame">
                    <p class="Version">Red</p>
                    <img class="Jogos_Img" src="assets/Jogos/RedV.png">
                    <p class="Ano">1996</p>
                </div>
                <div class="PokeGame">
                    <p class="Version">Green</p>
                    <img class="Jogos_Img" src="assets/Jogos/GreenV.png">
                    <p class="Ano">1996</p>
                </div>
                <div class="PokeGame">
                    <p class="Version">Blue</p>
                    <img class="Jogos_Img" src="assets/Jogos/BlueV.png">
                    <p class="Ano">1996</p>
                </div>
                <div class="PokeGame">
                    <p class="Version">Yellow</p>
                    <img class="Jogos_Img" src="assets/Jogos/YellowV.png">
                    <p class="Ano">1998</p>
                </div>
            </div>
            <div class="Jogos">
                <div class="PokeGame">
                    <p class="Version">FireRed</p>
                    <img class="Jogos_Img" src="assets/Jogos/FireRed.png">
                    <p class="Ano">1996</p>
                </div>
                <div class="PokeGame">
                    <p class="Version">LeafGreen</p>
                    <img class="Jogos_Img" src="assets/Jogos/LeafGreen.png">
                    <p class="Ano">2004</p>
                </div>
                <div class="PokeGame">
                    <p class="Version">Let's Go, Pikachu!</p>
                    <img class="Jogos_Img" src="assets/Jogos/Pikachu.png">
                    <p class="Ano">2018</p>
                </div>
                <div class="PokeGame">
                    <p class="Version">Let's Go, Eevee!</p>
                    <img class="Jogos_Img" src="assets/Jogos/Eevee.png">
                    <p class="Ano">2018</p>
                </div>
            </div>
        </div>
    </section>  -->

    <!-- <section class="modal">
    <h1 mat-dialog-title>Hi Cadu</h1>
    
    <div mat-dialog-actions>
      <button mat-button >Cancelar</button>
    </div>
</section> -->
<poke-list ></poke-list>
</main>